*{
    background: #fbfbfb;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f9f9f9;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 100px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #363333;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
}
.Under{
   
    display: flex;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0 20px;
    text-decoration: none;
    color: #070606;
    opacity: 1;

}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
    background: #f9f9f9;
}


.link{
    font-size: 30px;
    text-transform: capitalize;
    padding: 0 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #070606;
    opacity: 1;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/header.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .logo{
    text-align: left;
    height:70% ;
    width: 90%;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}
.info{
    text-align: center;
}
.font{
    text-align:center;
    font-family:Franklin Gothic Medium;
    font-size: 20px;
    color: #383838;
}
.font1{
    text-align-last: center;
    font-family:Franklin Gothic Medium;
    font-size: 20px;
    color: #383838;
}


.section2 .container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
  }
  .section2 .container .items {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 12px;
  }
  .section2 .container .items .name {
    text-align: center;
    background-color: rgb(240, 197, 6);
    height: 25px;
    padding-top: 4px;
    color: white;
    margin: 0;
  }
  

  .section2 .container .items .img img {
    width: 200px;
    height: 250px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
  }
  .section2 .container .items .img {
    overflow: hidden;
    margin: 0;
  }
  .section2 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
  }


.imgg1 .immg{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%;
    
}





h3{
    text-align: center;
    font-size: 200%;
    font-weight: 500;
    background-color: rgb(247, 247, 218);
     color: black;
      
}
.ri .imag{
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40%;
}

  footer{display: flex;
    flex-direction: column;
    background-color: rgb(244, 242, 242);
    align-items: center;
    color: rgb(10, 10, 10);
  }
  
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(9, 9, 9);
    margin-top: 15px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    color: rgb(7, 6, 6);
    flex-wrap: wrap;
  }
  .social-media a {
    color: rgb(6, 5, 5);
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: rgb(12, 11, 11);
  }
  .social-media a ion-icon {
    color: rgb(15, 13, 13);
    background-color: rgb(221, 211, 211);
  }
  .social-media a:hover ion-icon {
    color: red;
    transform: translateY(5px);
  }
  .footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer0 {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: rgb(243, 168, 7);
  }
  .footer2 .heading {
    font-weight: 900;
    font-size: 18px;
  }
  .footer3 {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer2 .heading:hover {
    color: rgb(243, 168, 7);
  }
  .footer2 .div:hover {
    transform: scale(1.05);
  }
  .footer3 h4 {
    margin: 0 10px;
  }
  .footer2 div {
    margin: 10px;
  }
  

